# Day 5 of 100 Days of code ..

# Set 
1. Set Items are enclosed in "Curly brackets"
2. Set is "Not ordered" & "Not indexed"
3. Set is "Immutable" object that can't change their elements.
4. Set Items is unique
5. Set can have different data type

# Set can have different data type

In [ ]:
# Set has only immutable data type (numbers, Strings, tuples) Not list and Dict
st ={1,2,5.6,"Rio"}
print(st) # {1, 2, 5.6, 'Rio'}

st ={1,2,5.6,"Rio",True,[1,2,3]}
# print(st) # unhashable type: 'list'

# Set is "Not ordered" & "Not indexed"

In [ ]:
st = {1,"rio",6,4.6,5}
# print(st[2]) # 'set' object is not subscriptable

# Set is "Immutable" object that can't change their elements.

In [ ]:
st = {1,"rio",6,4.6,5}
st[2] = 5  # 'set' object does not support item assignment

# Set Items is unique

In [ ]:
st = {1,"rio",6,1,4.6,5,6}
print(st) # {1, 4.6, 5, 6, 'rio'}

# in , not in

In [ ]:
set1={'a','b','c'}
set2=set(['d','e','f',1,True,2.4])
print(set1) # {'c', 'a', 'b'}
print(set2) # {1, 2.4, 'f', 'd', 'e'}


# type
print(type(set1)) # set
print(type(set2)) # set

# in > membership
print('r' in set1) # false
print('q' not in set1) # True

# len
print(len(set1)) # 3

# and , or

In [ ]:
# and , or
set1 = {1,2,3,4}
set2 = {1,50,7}
print(type(set1))
print(set1 and set2) # (1,50,7)
print(set1 or set2) # (1,2,3,4)

# Methods ..

# add

In [ ]:
st = {1,"rio",6,1,4.6,5,6}
st.add(7)
print(st) # {1, 4.6, 5, 6, 7, 'rio'}

In [ ]:
set1={'a','b','c'}
set2=set(['d','e','f',1,True,2.4])

print(set1) # {'c', 'a', 'b'}
set1.remove('a')
print(set1) # {'c', 'b'}
set1.add('q')
print(set1) # {'c', 'q', 'b'}

# union()

In [ ]:
st1={"One","Two","Three"}
st2={"1","2","3"}
st3={"Zero","Cool"}
print(st2.union(st3,st1)) # {'2', 'Cool', 'Two', 'Three', '3', '1', 'Zero', 'One'}

In [ ]:
set1 = {1,2,3,4}
set2 = {1,50,7}
print(set1 | set2) # (1,2,3,4,50,7)

# remove()

In [ ]:
st={1,2,3,4}
st.remove(1) # remove 1
# st.remove(7) # Error , 7 not found
print(st) # {2, 3, 4}

# discard()

In [ ]:
st={1,2,3,4}
st.discard(1) # remove 1
st.discard(7) # not error
print(st) # {2, 3, 4}

# pop()

In [ ]:
# return random elements from set
st={1,2,3,4}
print(st.pop()) # 1

# difference()

In [ ]:
a={1,2,3,4}
b={1,2,"Osama","Ahned"}
print(a) # {1, 2, 3, 4}
print(a.difference(b)) # a - b # {3, 4}
print(a) # {1, 2, 3, 4}

In [ ]:
set1 = {1,2,3,4}
set2 = {1,50,7}
print(set1 - set2) # (2,3,4)

# difference_update()

In [ ]:
# return result and put them in original set and remove all other elements
c={1,2,3,4}
d={1,2,3,"Osana","Ahmed"}
print(c) # {1, 2, 3, 4}
c.difference_update(d) #c-d
print(c) # {4}

# intersection()

In [ ]:
e={1,2,3,4,"X"}
f={"Osama","X",2}
print(e.intersection(f)) # e & f # {2, 'X'}
print(e) # {1, 2, 3, 4, 'X'}

In [ ]:
set1 = {1,2,3,4}
set2 = {1,50,7}
print(set1 & set2) # (1)

# intersection_update()

In [ ]:
g={1,2,3,4,"X","Osama"}
h={"Osama","X",2}
print(g) # {1, 2, 3, 4, 'Osama', 'X'}
g.intersection_update(h) #g & h # not return
print(g) # {'Osama', 2, 'X'}

# symmetric_difference()

In [ ]:
# elements are not found in both sets of elements
z={1,2,3,4,5,"X"}
x={"Elsayed","Rio",1,2,4,"x"}
print(z.symmetric_difference(x)) #1^j # {3, 5, 'Osama', 'Zero', 'X', 'x'}
print(z) # {1, 2, 3, 4, 5, 'X'}

In [ ]:
set1 = {1,2,3,4}
set2 = {1,50,7}

print(set1 ^ set2) # (2,3,4,50,7)

# symmetric_difference_update()

In [ ]:
# elements are not found in both sets of elements
z={1,2,3,4,5,"X"}
x={"Elsayed","Eio",1,2,4,"x"}
print(z) # {1, 2, 3, 4, 5, 'X'}
z.symmetric_difference_update(x) #1^j # not return
print(z) # {3, 'Elsayed', 5, 'Eio', 'X', 'x'}

EX

In [ ]:
set1={'a','b','c'}
set2=set(['d','e','f',1,True,2.4])
print(set1) # {'c', 'a', 'b'}
print(set2) # {1, 2.4, 'f', 'd', 'e'}


# type
print(type(set1)) # set
print(type(set2)) # set

# in > membership
print('r' in set1) # false
print('q' not in set1) # True

# len
print(len(set1)) # 3

In [ ]:
# add
print(set1) # {'c', 'a', 'b'}
set1.remove('a')
print(set1) # {'c', 'b'}
set1.add('q')
print(set1) # {'c', 'q', 'b'}

In [ ]:
# and , or
set1 = {1,2,3,4}
set2 = {1,50,7}
print(type(set1))
print(set1 and set2) # (1,50,7)
print(set1 or set2) # (1,2,3,4)

<class 'set'>
{1, 50, 7}
{1, 2, 3, 4}

In [ ]:
# | UNION : return all element in both sets
print(set1 | set2) # (1,2,3,4,50,7)
print(set1.union(set2)) # (1,2,3,4,50,7)

In [ ]:
# & INTERSECTION : Return the intersection of two sets as a new set.
print(set1 & set2) # (1)
print(set1.intersection(set2)) # (1)

In [ ]:
# - DIFFERENCE : set1 - set2 
print(set1 - set2) # (2,3,4)
print(set1.difference(set2)) # (2,3,4)

In [ ]:
# ^ SYMMETRIC DIFFERENCE : Return all element in both sets but not intersection
print(set1 ^ set2) # (2,3,4,50,7)
print(set1.symmetric_difference(set2)) # (2,3,4,50,7)