# Pandas ..

In [1]:
import pandas as pd
import numpy as np

In [ ]:
ls = [1,2,5.6,49,20,35,14,16,7]
# print(pd.Series(ls))

In [ ]:
a={1:"Ajith",2:"Kannan"} 
pd.Series(a)

In [ ]:
# index into Series
print(pd.Series(ls,index=['a','b','c','d','e','f','g','h','i']))

In [ ]:
# describe to return count, mean, std, min, 25, 50, 75, max 
# print(pd.Series(ls).describe())
print(f'Mean: {pd.Series(ls).describe().mean()}') # 16.622222

In [ ]:
# agg to return some parts from method describe()
print(pd.Series(ls).agg(['max','min']))

In [ ]:
pd.Index(ls) 
# Float64Index([1.0, 2.0, 5.6, 49.0, 20.0, 35.0, 14.0, 16.0, 7.0], dtype='float64')

In [ ]:
'''
& : and
| : or
^ : not duplicated
# not support float
'''
a = pd.Index([3,15,5,25])
b = pd.Index([1,5,3,20])
print(a | b)

In [ ]:
print(a & b)

In [ ]:
print(a ^ b)

# plot

In [ ]:
# plot() => default line , found line or pie or bar or ..
print(pd.Series(ls).plot(kind='line'))

In [ ]:
# pie
print(pd.Series([1,5,3,6,9]).plot(kind='pie'))

In [ ]:
# bar
print(pd.Series([1,5,7,8,15,30,2]).plot(kind = 'bar'))

In [ ]:
# barh
print(pd.Series([1,5,7,8,15,30,2]).plot(kind = 'barh')) # bar horizontal

In [ ]:
# hist
print(pd.Series([1,5,7,8,15,30,2]).plot(kind = 'hist')) # frequency تكرار

In [ ]:
# box : must sort numbers and line on min and max and median
print(pd.Series([1,2,5,6,11,8,15,30,35]).plot(kind='box'))

In [ ]:
# kda متعلاقة بالكثاقة والتكرار
print(pd.Series([1,2,5,6,11,8,15,30,35]).plot(kind='kde')) # kde or density
print(pd.Series([1,2,5,6,11,8,15,30,35]).plot(kind='density')) # kde or density

In [ ]:
print(pd.Series([1,2,5,6,11,8,15,30,35]).plot(kind='area')) # kde or density

# data frame

In [ ]:
ls1 = np.random.randint(0,6,(2,3)) # two rows and three cols
rows = ['a','b'] 
cols = ['one','two','three']
print(pd.DataFrame(ls1,index= rows, columns=cols))

In [ ]:
# dict 
a = pd.Series({'malak': 12,'nada': 15,'mhmd':18,'elsayed':20})
b = pd.Series({'malak': 17,'nada': 10,'mhmd':15.9,'elsayed':20})
c = pd.Series({'malak': 12,'nada': 19,'mhmd':18,'elsayed':20})

tab = pd.DataFrame({'CV':a,'ML':b,'AI':c})
print(tab)
'''
         CV    ML  AI
malak    12  17.0  12
nada     15  10.0  19
mhmd     18  15.9  18
elsayed  20  20.0  20
'''

In [ ]:
print(tab['AI'])

In [ ]:
# Transpose
print(tab.T)

In [ ]:
# keys and values
print(tab.keys()) # Index(['CV', 'ML', 'AI'], dtype='object')
print(tab.columns) # Index(['CV', 'ML', 'AI'], dtype='object')

print(tab.values)

print(tab.index) # Index(['malak', 'nada', 'mhmd', 'elsayed'], dtype='object')

In [ ]:
print(15 in tab.values) # True
print("AI" in tab.keys()) # True
print("AI" in tab.columns)
print("malak" in tab.index)

In [ ]:
# stack : بيفك الداتا
print(tab.stack())

In [ ]:
# iloc[rows,cols] : index location
print(tab)

print(tab.iloc[:2,1:])

print(tab.iloc[1,2]) # 19

In [ ]:
# loc[rows,cols] : location name(rows or cols)
print(tab.loc['nada':,'ML':])

In [ ]:
# equation 
print(tab.loc[tab['AI'] > 18])

In [ ]:
# specifie some cols
# loc[condition , cols]
print(tab.loc[tab['ML']> 15 , ['CV','AI']])

In [ ]:
# print(tab)

# sort_values
print(tab['AI'].sort_values(ascending=True))

print(tab['AI'].sort_values(ascending=False))

In [ ]:
# another way for sort_values

# dict 
a = pd.Series({'malak': 17,'nada': 15,'mhmd':12,'elsayed':20})
b = pd.Series({'malak': 16,'nada': 10,'mhmd':15.9,'elsayed':20}) # all decimal
c = pd.Series({'malak': 18,'nada': 17,'mhmd':11,'elsayed':20})

tab = pd.DataFrame({'CV':a,'ML':b,'AI':c})
# print(tab)

print(tab.sort_values(['CV'], ascending=True)) # one cols , ascending = True or False

In [ ]:
# sort_index 
'''
axis = 0 : sort ascending by index or rows
axis = 1 : sort ascending by cols
'''
# rows or index
print(tab.sort_index(axis=0))


# cols 
print(tab.sort_index(axis=1))

In [ ]:
# max min std mean median 
print(tab.max())
print(tab['CV'].max()) # 20

In [ ]:
# min 
print(tab.min())
print(tab['AI'].min()) # 12

In [ ]:
# std : standard deviation
print(tab.std())
print(tab['ML'].std()) # 4.191558978073274

In [ ]:
# mean
print(tab.mean())
print(tab['CV'].mean()) # 16.25

In [ ]:
# median 
print(tab.median())
print(tab['AI'].median()) # 18.5

In [ ]:
# corr : correlation  معامل الارتباط
# العلاقة بين قرب الداتا في العماويد

# print(pd.DataFrame(np.random.rand(5,4) , columns = ['AI','Math','Stat','Algo'], index = ['a','b','c','d','e']))

print(pd.DataFrame(np.random.rand(5,4) , columns = ['AI','Math','Stat','Algo'], index = ['a','b','c','d','e']).corr())

In [ ]:
# skew مقدار الانحراف
# print(pd.DataFrame(np.random.rand(4,3), columns= ['AI','Math','Stat'], index = [1,2,3,4]))

print(pd.DataFrame(np.random.rand(4,3), columns= ['AI','Math','Stat'], index = [1,2,3,4]).skew())

# some things in creating DataFrame

In [ ]:
print(pd.DataFrame({'square':i**2 , 'root':i**0.5 , 'cube':i**3} for i in range(5)))

In [ ]:
print(pd.DataFrame([{'square':2 , 'root':0.5 , 'cube':3},{'a':53 , 'b': 31},{'root':15,'a':53}]))

In [ ]:
# sum cols from two cols
a = pd.Series({'ahmed':12,'Ali':15,'elsayed':19})
b = pd.Series({'ahmed':10,'Ali':14,'elsayed':20})
c = pd.Series({'ahmed':13,'Ali':16,'elsayed':18})

grades = pd.DataFrame({'AI':a,'ML':b,'CV':c})
grades['total'] = grades['AI'] + grades['ML'] + grades['CV']
# print(grades)

In [ ]:
tot = pd.DataFrame(np.random.rand(2,3) , columns=['AI','Math','Stat'])

res = pd.eval('tot.AI + tot.Math + tot.Stat')
# print(res)

In [ ]:
# using query

tot = pd.DataFrame(np.random.rand(2,3) , columns=['AI','Math','Stat'])
res = tot.query('AI < 0.5 and Math < 0.3')
print(res)

In [ ]:
# using temp 1 and temp 2
tot = pd.DataFrame(np.random.rand(2,3) , columns=['AI','Math','Stat'])

tmp1 = tot.AI < 0.5
tmp2 = tot.Math < 0.5
print(tot[tmp1 & tmp2])

In [ ]:
# make function with dataframe

def makeDataFrame(cols,rows):
    data = {col: [str(col) + str(row) for row in rows] for col in cols}
    return pd.DataFrame(data,rows)

print(makeDataFrame('ABC',range(3)))

In [ ]:
# merge 
data1 = pd.DataFrame({'emp':['Ali','ahmed','elsayed'],'group':['Accounting','Engineering','HR']})
data2 = pd.DataFrame({'emp':['Ali','ahmed','elsayed'],'hire_date':[2008,2012,2014]})
print(pd.merge(data1, data2))

In [ ]:
data1 = pd.DataFrame({'emp':['Ali','ahmed','elsayed'],'group':['Accounting','Engineering','HR']})
data2 = pd.DataFrame({'name':['Ali','ahmed','elsayed'],'hire_date':[2008,2012,2014]})
print(pd.merge(data1,data2,left_on='emp',right_on='name'))

In [ ]:
# merge with drop
data1 = pd.DataFrame({'emp':['Ali','ahmed','elsayed'],'group':['Accounting','Engineering','HR']})
data2 = pd.DataFrame({'name':['Ali','ahmed','elsayed'],'hire_date':[2008,2012,2014]})
print(pd.merge(data1,data2,left_on='emp',right_on='name').drop('emp',axis=1))

In [ ]:
# set_index 
data1 = pd.DataFrame({'emp':['Ali','ahmed','elsayed'],'group':['Accounting','Engineering','HR']})
data2 = pd.DataFrame({'name':['Ali','ahmed','elsayed'],'hire_date':[2008,2012,2014]})
data2 = data1.set_index('emp') # make a key 
print(data2)

In [ ]:
# merge with how  : same inner will return comman data only
data1 = pd.DataFrame({'name':['Ali','ahmed','elsayed'],'group':['Accounting','Engineering','HR']})
data2 = pd.DataFrame({'name':['Ali','elsayed'],'hire_date':[2012,2014]})
print(pd.merge(data1,data2))

In [ ]:
# merge with how inner : comman data only
data1 = pd.DataFrame({'name':['Ali','ahmed','elsayed'],'group':['Accounting','Engineering','HR']})
data2 = pd.DataFrame({'name':['Ali','elsayed'],'hire_date':[2012,2014]})
print(pd.merge(data1,data2,how ='inner'))

In [ ]:
# merge with how outer : all data
data1 = pd.DataFrame({'name':['Ali','ahmed','elsayed'],'group':['Accounting','Engineering','HR']})
data2 = pd.DataFrame({'name':['Ali','elsayed'],'hire_date':[2012,2014]})
print(pd.merge(data1,data2,how ='outer'))
'''
      name        group  hire_date
0      Ali   Accounting     2012.0
1    ahmed  Engineering        NaN
2  elsayed           HR     2014.0
'''

In [ ]:
# merge with how right : must be return data2
data1 = pd.DataFrame({'name':['Ali','ahmed','elsayed'],'group':['Accounting','Engineering','HR']})
data2 = pd.DataFrame({'name':['Ali','elsayed'],'hire_date':[2012,2014]})
print(pd.merge(data1,data2,how ='right'))
'''
      name       group  hire_date
0      Ali  Accounting       2012
1  elsayed          HR       2014
'''

In [ ]:
# merge with how left : must be return data1
data1 = pd.DataFrame({'name':['Ali','ahmed','elsayed'],'group':['Accounting','Engineering','HR']})
data2 = pd.DataFrame({'name':['Ali','elsayed'],'hire_date':[2012,2014]})
print(pd.merge(data1,data2,how ='left'))
'''
      name        group  hire_date
0      Ali   Accounting     2012.0
1    ahmed  Engineering        NaN
2  elsayed           HR     2014.0
'''

In [ ]:
# some proccess
data1 = pd.DataFrame({'A':np.random.rand(5),'B':np.random.rand(5)})
'''
         A         B
0  0.329862  0.912133
1  0.887305  0.056660
2  0.328744  0.176212
3  0.780575  0.777976
4  0.358864  0.694629
'''

In [ ]:
print("Sum:\n",data1.sum())
'''
Sum:
 A    2.685349
B    2.617611
dtype: float64
'''

In [ ]:
print("Mean:\n",data1.mean(axis='rows'))
'''
Mean:
 A    0.537070
B    0.523522
dtype: float64'''

In [ ]:
print("Mean:\n",data1.mean(axis='columns'))
'''
Mean:
 0    0.620997
1    0.471983
2    0.252478
3    0.779276
4    0.526747
dtype: float64
'''

In [ ]:
print("Count:\n",data1.count())
'''
Count:
 A    5
B    5
dtype: int64
'''

In [ ]:
print("Min:\n",data1.min())
'''
Min:
 A    0.328744
B    0.056660
dtype: float64
'''

In [ ]:
print("Max:\n",data1.max())
'''
Max:
 A    0.887305
B    0.912133
dtype: float64
'''

In [ ]:
print("Std:\n",data1.std())
'''
Std:
 A    0.273885
B    0.381978
dtype: float64
'''

In [ ]:
# group by
data1 = pd.DataFrame({'name':['A','B','C','A','C'],'number':[12,14,13,15,17]})
print(data1.groupby('name').sum())
'''
      number
name        
A         27
B         14
C         30
'''

In [ ]:
# group by with describe 
data1 = pd.DataFrame({'name':['A','B','C','A','C'],'number':[12,14,13,15,17]})
print(data1.groupby('name').describe())
'''
     number                                                
      count  mean       std   min    25%   50%    75%   max
name                                                       
A       2.0  13.5  2.121320  12.0  12.75  13.5  14.25  15.0
B       1.0  14.0       NaN  14.0  14.00  14.0  14.00  14.0
C       2.0  15.0  2.828427  13.0  14.00  15.0  16.00  17.0
'''

In [ ]:
# group by with unstack
data1 = pd.DataFrame({'name':['A','B','C','A','C'],'number':[12,14,13,15,17]})
print(data1.groupby('name').describe().unstack())
'''
               name
number  count  A        2.000000
               B        1.000000
               C        2.000000
        mean   A       13.500000
               B       14.000000
               C       15.000000
        std    A        2.121320
               B             NaN
               C        2.828427
        min    A       12.000000
               B       14.000000
               C       13.000000
        25%    A       12.750000
               B       14.000000
               C       14.000000
        50%    A       13.500000
               B       14.000000
               C       15.000000
        75%    A       14.250000
               B       14.000000
               C       16.000000
        max    A       15.000000
               B       14.000000
               C       17.000000
dtype: float64
'''

In [ ]:
# group by & aggregate 

data1 = pd.DataFrame({'name':['A','B','C','A','C'],'nums1':[12,14,13,15,17],'nums2':[9,16,18,10,15]})
print(data1.groupby('name').aggregate({'nums1':'min', 'nums2':'max'}))
'''
      nums1  nums2
name              
A        12     10
B        14     16
C        13     18
'''

In [ ]:
# group by with filter : run on 'nums1'
data1 = pd.DataFrame({'name':['A','B','C','A','C'],'nums1':[12,14,13,15,17],'nums2':[9,16,18,10,15]})
# make function
def fil_nums1(x):
    return x['nums1'].std() > 1

print(data1.groupby('name').filter(fil_nums1))
'''
  name  nums1  nums2
0    A     12      9
2    C     13     18
3    A     15     10
4    C     17     15
'''

In [ ]:
# group by with transform : run all cols and remove 'name' cols
data1 = pd.DataFrame({'name':['A','B','C','A','C'],'nums1':[12,14,13,15,17],'nums2':[9,16,18,10,15]})
print(data1.groupby('name').transform(lambda x : x**2))
'''
   nums1  nums2
0    144     81
1    196    256
2    169    324
3    225    100
4    289    225
'''

# multindex

In [ ]:
# rows
index = [('California', 2000),('California', 2010),
        ('New York', 2000),('New York', 2010),
        ('Texas', 2000),('Texas', 2010)]
# to make tuples are index
index = pd.MultiIndex.from_tuples(index)
print(index)
'''
MultiIndex([('California', 2000),
            ('California', 2010),
            (  'New York', 2000),
            (  'New York', 2010),
            (     'Texas', 2000),
            (     'Texas', 2010)],
           )
'''

In [ ]:
# rows
index = [('California', 2000),('California', 2010),
        ('New York', 2000),('New York', 2010),
        ('Texas', 2000),('Texas', 2010)]
# elements
populations = [10000,15000,
                20000,25000,
                30000,35000]

# to make tuples are index
index = pd.MultiIndex.from_tuples(index)

# series (data , index)
pop = pd.Series(populations, index=index)
print(pop)
'''
California  2000    10000
            2010    15000
New York    2000    20000
            2010    25000
Texas       2000    30000
            2010    35000
dtype: int64
'''

In [ ]:
# rows
index = [('California', 2000),('California', 2010),
        ('New York', 2000),('New York', 2010),
        ('Texas', 2000),('Texas', 2010)]
# elements
populations = [10000,15000,
                20000,25000,
                30000,35000]

# to make tuples are index
index = pd.MultiIndex.from_tuples(index)

# series (data , index)
pop = pd.Series(populations, index=index)
print(pop[:,2010])
'''
California    15000
New York      25000
Texas         35000
dtype: int64
'''

In [ ]:
# unstack : convert multindex to table 

# rows
index = [('California', 2000),('California', 2010),
        ('New York', 2000),('New York', 2010),
        ('Texas', 2000),('Texas', 2010)]
# data
populations = [10000,15000,
                20000,25000,
                30000,35000]

index = pd.MultiIndex.from_tuples(index)
pop = pd.Series(populations, index=index)
print(pop.unstack())
'''
             2000   2010
California  10000  15000
New York    20000  25000
Texas       30000  35000
'''

In [ ]:
# max between dataframe and multindex
# make multiindex
index = [('California', 2000),('California', 2010),
            ('New York', 2000),('New York', 2010),
            ('Texas', 2000),('Texas', 2010)]

populations = [10000,15000,
            20000,25000,
            30000,35000]

index = pd.MultiIndex.from_tuples(index)
pop = pd.Series(populations, index=index)
print(pop)
'''
California  2000    10000
            2010    15000
New York    2000    20000
            2010    25000
Texas       2000    30000
            2010    35000
dtype: int64
'''

# make dataframe to add column "under18"
pop_df = pd.DataFrame({'total': pop,
                        'under18':[9267089, 9284094,4687374,
                        4318033,5906301, 6879014]})

print(pop_df)
'''
               total  under18
California 2000  10000  9267089
           2010  15000  9284094
New York   2000  20000  4687374
           2010  25000  4318033
Texas      2000  30000  5906301
           2010  35000  6879014
'''

In [1]:
df = pd.DataFrame(np.random.rand(4, 2),
                    index=[['a', 'a', 'b', 'b'],[1, 2, 1, 2]],
                    columns=['income', 'profit'])
print(df)
'''
       income    profit
a 1  0.879999  0.134067
  2  0.352078  0.569864
b 1  0.014661  0.056899
  2  0.266206  0.357697
'''

NameError: name 'pd' is not defined

In [ ]:
# dict using to rows
        # (key) as tuple : values
data = {('California', 2000): 10000,
        ('California', 2010):15000,
        ('Texas', 2000): 20000,
        ('Texas', 2010): 25000,
        ('New York', 2000): 30000,
        ('New York', 2010): 35000}
print(pd.Series(data))
'''
California  2000    10000
            2010    15000
Texas       2000    20000
            2010    25000
New York    2000    30000
            2010    35000
dtype: int64
'''

In [ ]:
# from product .. بتعمل تباديل وتوافيق .. from multiindex 

# rows
index = pd.MultiIndex.from_product([[2013, 2014],[1, 2]],
                                    names=['year', 'visit']) # name rows

# cols
columns = pd.MultiIndex.from_product([['Bob', 'Guido', 'Sue'],['HR', 'Temp']],
                                        names=['subject', 'type']) # name cols

# data
data = np.round(np.random.randn(4, 6)) # random integer number

# make dataframe 
health_data = pd.DataFrame(data, index=index, columns=columns)
print(health_data)
'''
subject     Bob      Guido       Sue     
type         HR Temp    HR Temp   HR Temp
year visit                               
2013 1     -0.0 -1.0  -0.0 -2.0 -2.0 -0.0
     2     -1.0 -1.0  -0.0 -0.0  1.0  1.0
2014 1      1.0  1.0  -2.0  2.0 -1.0  0.0
     2      0.0  0.0  -1.0  2.0 -0.0 -1.0
'''

In [ ]:
# from product .. بتعمل تباديل وتوافيق .. from multiindex 

# rows
index = pd.MultiIndex.from_product([[2013, 2014],[1, 2]],
                                    names=['year', 'visit']) # name rows

# cols
columns = pd.MultiIndex.from_product([['Bob', 'Guido', 'Sue'],['HR', 'Temp']],
                                        names=['subject', 'type']) # name cols

# data
data = np.round(np.random.randn(4, 6)) # random integer number

# make dataframe 
health_data = pd.DataFrame(data, index=index, columns=columns)
print(health_data['Guido'])
'''
type         HR  Temp
year visit           
2013 1     -0.0  -1.0
     2     -1.0   1.0
2014 1     -0.0  -0.0
     2     -1.0  -0.0
'''

In [ ]:
# from product .. بتعمل تباديل وتوافيق .. from multiindex 

# rows
index = pd.MultiIndex.from_product([[2013, 2014],[1, 2]],
                                    names=['year', 'visit']) # name rows

# cols
columns = pd.MultiIndex.from_product([['Bob', 'Guido', 'Sue'],['HR', 'Temp']],
                                        names=['subject', 'type']) # name cols

# data
data = np.round(np.random.randn(4, 6)) # random integer number

# make dataframe 
health_data = pd.DataFrame(data, index=index, columns=columns)
print(health_data['Guido','HR'])
'''
year  visit
2013  1       -1.0
      2       -1.0
2014  1       -0.0
      2        0.0
'''

In [ ]:
# loc 
index = pd.MultiIndex.from_product([[2013, 2014],[1, 2]],
                                    names=['year', 'visit'])

columns = pd.MultiIndex.from_product([['Bob', 'Guido', 'Sue'],['HR', 'Temp']],
                                    names=['subject', 'type'])

data = np.round(np.random.randn(4, 6))

health_data = pd.DataFrame(data, index=index, columns=columns)
print(health_data.loc[:, ('Bob', 'HR')])
'''
year  visit
2013  1       -0.0
      2        1.0
2014  1        1.0
      2       -2.0
Name: (Bob, HR), dtype: float64
'''

In [ ]:
# loc using idx
index = pd.MultiIndex.from_product([[2013, 2014],[1, 2]],
                                    names=['year', 'visit'])

columns = pd.MultiIndex.from_product([['Bob', 'Guido', 'Sue'],
                                        ['HR', 'Temp']],
                                        names=['subject', 'type'])

# data
data = np.round(np.random.randn(4, 6))

# make dataframe
health_data = pd.DataFrame(data, index=index, columns=columns)

idx = pd.IndexSlice # to define index

print(health_data.loc[idx[:, 1], idx[:, 'HR']])

# string

In [ ]:
data = ['Peter','salma','ali','nada','15',' ','ah med']
print(pd.Series(data).str.isalnum())
'''
0     True
1     True
2     True
3     True
4     True
5    False
6    False
dtype: bool
'''

In [ ]:
data = ['Peter','salma','ALI','nada','15',' ','ah med']
print(pd.Series(data).str.isalpha())
'''
0     True
1     True
2     True
3     True
4    False
5    False
6    False
dtype: bool
'''

In [ ]:
data = ['Peter','salma','ALI','nada','15',' ','ah med']
print(pd.Series(data).str.isnumeric())
'''
0    False
1    False
2    False
3    False
4     True
5    False
6    False
dtype: bool
'''

In [ ]:
data = ['Peter','salma','ALI','nada','15',' ','ah med']
print(pd.Series(data).str.swapcase())
'''
0     pETER
1     SALMA
2       ali
3      NADA
4        15
5          
6    AH MED
dtype: object
'''

+ imputation = modify data
+ law feeh outlayer f b3ml imputation with medium not mean
+ inplace in modify not create
+ le6: 000000 zeros

# To Datatime

In [ ]:
print(pd.to_datetime("18th of june, 2002")) # 2002-06-18 00:00:00

In [ ]:
# datatime : to make time
# 'D' : Day
print(pd.to_datetime("18th of june, 2002") - pd.to_timedelta(np.arange(10) , 'D'))  

'''
DatetimeIndex(['2002-06-18', '2002-06-17', '2002-06-16', '2002-06-15',
               '2002-06-14', '2002-06-13', '2002-06-12', '2002-06-11',
               '2002-06-10', '2002-06-09'],
'''

In [ ]:
# DatatimeIndex  : to make index

index = pd.DatetimeIndex(['2010-01-10','2015-05-15','2017-05-16'])
data = pd.Series([0,1,2], index=index)
print(data['2010-01-1':'2015-06-15'])
'''
2010-01-10    0
2015-05-15    1
dtype: int64
'''

In [ ]:
index = pd.DatetimeIndex(['2010-01-10','2015-05-15','2017-07-16'])
data = pd.Series([0,1,2], index=index)
print(data['2015-05'])# 2015-05-15    1

In [ ]:
# datarange : data from to 
data = pd.date_range('2015-01-01','2017-01-01') # include end
print(data)

In [ ]:
# period : increasing with 1 : number of increasing
# freq : default is 'D' days 
# 'H' : hour
# 'D' : Day
# 'M' : Month

# increasing with days
print(pd.date_range('2015-01-01',periods=7,freq='D'))
'''
DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-03', '2015-01-04',
               '2015-01-05', '2015-01-06', '2015-01-07'],
'''

In [ ]:
# increasing with hours
print(pd.date_range('2015-01-01',periods=7,freq='H'))
'''
DatetimeIndex(['2015-01-01 00:00:00', '2015-01-01 01:00:00',
               '2015-01-01 02:00:00', '2015-01-01 03:00:00',
               '2015-01-01 04:00:00', '2015-01-01 05:00:00',
               '2015-01-01 06:00:00'],
'''

In [ ]:
# increasing with months
print(pd.date_range('2015-01-01',periods=7,freq='M'))
'''
DatetimeIndex(['2015-01-31', '2015-02-28', '2015-03-31', '2015-04-30',
               '2015-05-31', '2015-06-30', '2015-07-31'],
'''

In [ ]:
# timedelta_range(start, periods  , freq)

print(pd.timedelta_range(0,periods=7,freq='2H40T50S'))
'''
TimedeltaIndex(['0 days 00:00:00', '0 days 02:40:50', '0 days 05:21:40',
                '0 days 08:02:30', '0 days 10:43:20', '0 days 13:24:10',
                '0 days 16:05:00'],
'''

In [ ]:
# BDay : Business Day
from pandas.tseries.offsets import BDay
print(pd.date_range('2022-01-07',periods=5,freq=BDay())) 
'''
# day 8 and day 9 is weekend ..
DatetimeIndex(['2022-01-07', '2022-01-10', '2022-01-11', '2022-01-12',
               '2022-01-13'],
'''

# Files

In [ ]:
# read.cvs
# csv : files Excel
# head(number of rows) : default is 5 rows
read_file = pd.read_csv(r"/media/elsayedelmandoh/Rio/Courses/Python/Coding/009-mod_pandas/csv2.csv")
print(read_file.head())

In [ ]:
read_file = pd.read_csv(r"/media/elsayedelmandoh/Rio/Courses/Python/Coding/009-mod_pandas/csv2.csv")
print(read_file.head(10)) # read 10 rows

In [ ]:
read_file = pd.read_csv(r"/media/elsayedelmandoh/Rio/Courses/Python/Coding/009-mod_pandas/csv2.csv")
print(read_file) # read all rows

In [ ]:
# convert file to .csv
read_file = pd.read_csv(r"/media/elsayedelmandoh/Rio/Courses/Python/Coding/009-mod_pandas/data.txt")
read_file.to_csv(r"/media/elsayedelmandoh/Rio/Courses/Python/Coding/009-mod_pandas/csv2.csv")
print(read_file) # read all rows

In [ ]:
# make column is unique (index)
read_file = pd.read_csv(r"/media/elsayedelmandoh/Rio/Courses/Python/Coding/009-mod_pandas/csv2.csv",index_col="Sex")
print(read_file)

In [ ]:
# convert file txt to file excel

w = pd.Series({'a':1 ,'b':2 ,'c':3 ,'d':4 ,'e':5})
x = pd.Series({'b':7 ,'c':8 ,'d':9 ,'e':10})
y = pd.Series({'a':11 ,'b':12 ,'c':13 ,'d':14 ,'e':15})
z = pd.Series({'a':16 ,'b':17 ,'c':18 ,'d':19 ,'e':20})
grades = pd.DataFrame({'Math':w,'Physics':x,'French':y,'Chemistry':z})
print(grades)
grades.to_excel(r"/media/elsayedelmandoh/Rio/Courses/Python/Coding/009-mod_pandas/data.xls",sheet_name="Sheet 1")

In [ ]:
# read file excel

data = pd.read_excel(r"/media/elsayedelmandoh/Rio/Courses/Python/Coding/009-mod_pandas/data.xls")
print(data)

In [ ]:
# make cols names

data = pd.read_excel(r"/media/elsayedelmandoh/Rio/Courses/Python/Coding/009-mod_pandas/data.xls",names=['a','b','c','d'])
print(data)

In [ ]:
# set_option(precision, 3)

data = pd.read_excel(r"/media/elsayedelmandoh/Rio/Courses/Python/Coding/009-mod_pandas/data.xls",names=['a','b','c','d'])
pd.set_option("precision",2) # to digit after comma
print(data)
'''
   a      b   c   d
a  1    NaN  11  16
b  2   7.00  12  17
c  3   8.46  13  18
d  4   9.66  14  19
e  5  10.00  15  20
'''
print(data.describe())
'''
          a      b      c      d
count  5.00   4.00   5.00   5.00
mean   3.00   8.78  13.00  18.00
std    1.58   1.36   1.58   1.58
min    1.00   7.00  11.00  16.00
25%    2.00   8.09  12.00  17.00
50%    3.00   9.06  13.00  18.00
75%    4.00   9.74  14.00  19.00
max    5.00  10.00  15.00  20.00
'''

In [ ]:
# data
'''
   a      b   c   d
a  1    NaN  11  16
b  2   7.00  12  17
c  3   8.46  13  18
d  4   9.66  14  19
e  5  10.00  15  20
'''
# size() : count of data in cols
print(data.groupby('a').size())

In [ ]:
# corr :method person
data = pd.read_excel(r"/media/elsayedelmandoh/Rio/Courses/Python/Coding/009-mod_pandas/data.xls",names=['a','b','c','d'])
'''
   a      b   c   d
a  1    NaN  11  16
b  2   7.00  12  17
c  3   8.46  13  18
d  4   9.66  14  19
e  5  10.00  15  20
'''

print(data.corr(method='pearson'))
'''
      a     b     c     d
a  1.00  0.20  0.83  0.85
b  0.20  1.00  0.41  0.15
c  0.83  0.41  1.00  0.97
d  0.85  0.15  0.97  1.00
'''

In [ ]:
# corr :method person
data = pd.read_excel(r"/media/elsayedelmandoh/Rio/Courses/Python/Coding/009-mod_pandas/data.xls",names=['a','b','c','d'])
'''
   a      b   c   d
a  1    NaN  11  16
b  2   7.00  12  17
c  3   8.46  13  18
d  4   9.66  14  19
e  5  10.00  15  20
'''

print(data.skew())
'''
a    1.33
b    1.51
c    0.26
d    0.62
dtype: float64
'''

# Electro pi

filter with character

In [2]:
import pandas as pd

merge with how left : must be return data1

In [40]:
data1 = pd.DataFrame({'name':['Ali','ahmed','elsayed'],'group':['Accounting','Engineering','HR']})
data2 = pd.DataFrame({'name':['Ali','elsayed'],'hire_date':[2012,2014]})
df = pd.merge(data1,data2,how ='left')
df

      name        group  hire_date
0      Ali   Accounting     2012.0
1    ahmed  Engineering        NaN
2  elsayed           HR     2014.0

filter

In [41]:
df.filter(like='e', axis=1)

      name  hire_date
0      Ali     2012.0
1    ahmed        NaN
2  elsayed     2014.0

groupby

In [42]:
df.groupby('hire_date').sum()

              name       group
hire_date
2012.0         Ali  Accounting
2014.0     elsayed          HR

In [43]:
# df.drop_duplicates('column', keep='last') # keep = 'first'

In [44]:
df.isna().sum()

name         0
group        0
hire_date    1
dtype: int64

drop na

In [45]:
df_without_na = df.dropna() # drop all na in dataframe

In [46]:
df_without_na.isna().sum()

name         0
group        0
hire_date    0
dtype: int64

In [47]:
df_without_na

      name       group  hire_date
0      Ali  Accounting     2012.0
2  elsayed          HR     2014.0

fill with mean

In [49]:
import numpy as np

In [50]:
df['hire_date'].fillna(np.mean(df['hire_date']), inplace=True)

In [51]:
df

      name        group  hire_date
0      Ali   Accounting     2012.0
1    ahmed  Engineering     2013.0
2  elsayed           HR     2014.0

In [52]:
df['name'].value_counts()

name
Ali        1
ahmed      1
elsayed    1
Name: count, dtype: int64

Concat

In [ ]:
res= pd.concat([df1,df2], ignore_index=True) # ignore: rest index

Rest index

In [ ]:
res.reset_index(inplace=True)

Append

In [ ]:
res= df1.append(df2) # == concat

In [53]:
import numpy as np
arr1 = np.array([1, 2, 3])
arr2 = np.array([4, 5, 6])
arr3 = np.concatenate([arr1, arr2])
print(arr3)

[1 2 3 4 5 6]

In [1]:
import pandas as pd
df = pd.DataFrame({'A': [1, 2, 3], 
                   'B': [4, 5, 6]})
df['C'] = df.apply(lambda row: row['A'] + row['B'], axis=1)
df

   A  B  C
0  1  4  5
1  2  5  7
2  3  6  9

In [55]:
import numpy as np
arr = np.array([1, 2, 3])
print(arr.shape)

(3,)