Elsayed Mohamed Elsayed Elmandoh

1- write 3 variable and check for it's data types using type() function

In [5]:
a= 1
b= 'hi'
c= [1,2,3]
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'str'>
<class 'list'>

2- write 3 variable and take it in one line using split() function and print it

In [6]:
inp = input("Enter three variables separated by spaces: ")

a, b, c = inp.split()

print(a)
print(b)
print(c)

hi
hello
hi

3- write program take number from user then convert it to string " casting " then print lenth of this string using len() function

In [1]:
inp = input("Enter number: ")
sr= str(inp)
print(len(sr))

6

4- you have number and you want to remove last k number from this number implement python program do that and print result

In [4]:
nums = input("Enter number: ")
k = int(input("Enter k to remove: "))

if k < 0 or k > len(nums):
    print(f"invalid number, please enter a number between 0 and {len(nums)}: ")
else:
    nums= nums[: -k]
print(f"Resukt= {nums}")

Resukt= 3443

5- take integer multiple number in one line using map and split then print maximum and minimum number from it using min and max function

In [10]:
inp_list= input("Enter integers separated by spaces: ").split()
integers = list(map(int, inp_list))

print(f"Max {max(integers)}")
print(f"Min {min(integers)}")

Max 56
Min -2

6- Write a Python program that finds the minimum of two values a and b.

In [11]:
a = int(input("Enter value a"))
b = int(input("Enter value b"))
min = a if a < b else b
print(f"min: {min}")

min: 2

7- Write a program that reads an integer salary then:

	If salary < 1000,
	-	Print you are poor
	elif salary greater than or equal to 1000 and less than 20000
	-	Print good salary
	elif salary greater than or equal to 20000
	-	Print you are rich

In [12]:
salary = int(input("EEnter your salary"))

if salary < 1000:
    print("You are poor :(")
elif salary >= 1000 and salary < 20000:
    print("Good salary :-")
elif salary >= 20000:
    print("You are rich :)")

You are rich :)

8- Write a Python program that receives the age of the user and display whether he/she can drive a car. If the user is above 18 years old, he/she can drive.

In [13]:
age = int(input("Enter your age: "))

if age >= 18: 
    print("great! you can drive a car")
else:
    print("ohh, you can't drive a car")

great! you can drive a car

9- Write a Python program that divides two numbers together and display the result. However, if the second number is a zero then the calculation can't be done as dividing a number by zero gives a result of â€˜infinityâ€™.

In [21]:
numerator= float(input("Enter num 1: "))
denominator= float(input("Enter num 2: "))

if denominator == 0: 
    print("the calculation can't be done as dividing a number by zero gives a result of â€˜infinityâ€™.")
else:
    res= numerator / denominator
    print(f"Result= {res}")

Result= 12.0

10- We need to print 0,3,6,9,12 using for loop

In [24]:
for i in range(0,13,3):
    print(i)

0
3
6
9
12

11-We need to print 0 ,3 ,6 ,9 ,12 and index of positions using for loop -> hint: enumerate function

In [25]:
for index, value in enumerate(range(0,13,3)):
    print(f"Index {index} of {value}")

Index 0 of 0
Index 1 of 3
Index 2 of 6
Index 3 of 9
Index 4 of 12

12- Given a list of numbers. write a program to turn every item of a list into its square
	lst = [1, 2, 3, 4, 5, 6, 7]
	result = [1, 4, 9, 16, 25, 36, 49]

In [26]:
lst = [1, 2, 3, 4, 5, 6, 7]
lst_sqr = [i**2 for i in lst]
print(f"Result = {lst_sqr}")

Result = [1, 4, 9, 16, 25, 36, 49]

13-  write a program to Concatenate two lists

In [32]:
lst1 = [1,2,3]
lst2 = [4,5,6]
lst1.extend(lst2)
lst1

[1, 2, 3, 4, 5, 6]

14- write a program to Reverse the tuple

In [34]:
tp = (1,2,3,4)
tp_rev = tuple(reversed(tp))
tp_rev

(4, 3, 2, 1)

15- Convert two lists into a dictionary
 	keys = ['Ten', 'Twenty', 'Thirty']
 	values = [10, 20, 30]

In [37]:
keys= ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

dict = dict(zip(keys, values))
dict

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

16- Create a dictionary with the names of five countries as keys and their capitals as values. Print the capital of one of the countries.

In [38]:
countries_capitals = {
    'Egypt': 'Cairo',
    'USA': 'Washington',
    'France': 'Paris',
    'Japan': 'Tokyo',
    'Germany': 'Berlin'
}

print(countries_capitals['Egypt'])

Cairo

17- Given two dictionaries containing student names and their corresponding grades, combine them into a new dictionary containing (name, grade) pairs.

In [43]:
dict1 = {'Elsayed': 85, 'Mohamed': 92, 'Ali': 78}
dict2 = {'Dan': 88, 'Joo': 95, 'Ahmed': 89}

combined_dict = {name: grade for name, grade in dict1.items()}
combined_dict.update({name: grade for name, grade in dict2.items()})
print(combined_dict)

{'Elsayed': 85, 'Mohamed': 92, 'Ali': 78, 'Dan': 88, 'Joo': 95, 'Ahmed': 89}