# Python ...!

## Topics Session 1 :)
#### 0. Why python ? ^_^
#### 1. Variable 
#### 2. Datatypes 
#### 3. Operations
#### 3. Numbers
#### 4. Strings
#### 5. List , Tuple , set , Dict : methods

## 0.0 Why python ?
+ One of the most important programming languages in world.
+ always update
+ run on all OS system : linux , window , mac
+ support OOP
+ Artificial Intelligence 
+ Data Science
+ hacking
+ Web developing: framework Django , Flask فلاسك
+ disktop app: framework PyGUI , Tkinter
+ mobile app: framework kivy
+ gaming: Pygame

## 0.1 Apps with python
+ Inst
+ Uber
+ Spotify
+ Dropbox

## 1.0 Variable :
+ can start with A-Z a-z or underscore _
+ can't start with number 
+ don't use special char 'symbols' or space @ # $ % &
+ don't use keywords => if True False

### 1.1 can use with A-Z a-z or underscore _  or number

In [1]:
name = "elsayed"
_name = "elsayed"
first_name = "elsayed"
name1 = "elsayed"
#  x = "7"

### 1.2 can't start with number

In [146]:
# 1name = "Elsayed"
# 4x = 5

### 1.3 don't use special char 'symbols' or space @ # $ % &

In [145]:
# -num = 5
# !num = 5

### 1.4 don't use keywords => if True False

#### 1.4.1 from module keyword import variable kwlist

In [ ]:
from keyword import kwlist
kwlist

#### 1.4.2 using method help

In [ ]:
help('keywords')

In [ ]:
# to info about methods 
help('for')

### 1.5 delete variable

In [70]:
a=5
# print(a)
del(a) # delete object a
# print(a) # error a not defined

## 2.0 Datatype :
+ int
+ float
+ string or str
+ boolean or bool
+ list 
+ tuple
+ set
+ dict is key : value
+ complex is REAL and imaginary

### 2.1 int

In [ ]:
num1 = 7
print(type(num1))

### 2.2 float

In [15]:
num2 = 2.474
print(type(num2))

<class 'float'>

### 2.3 String

In [14]:
name = 'Elsayed'
print(type(name))

<class 'str'>

### 2.4 Boolean

In [16]:
attend = True
print(type(attend))

<class 'bool'>

### 2.5 List

In [17]:
ls=[1,"st"]
print(type(ls))

<class 'list'>

### 2.6 Tuple

In [18]:
tp=(1,"st")
print(type(tp))

<class 'tuple'>

### 2.7 Set

In [19]:
st={1,"st"}
print(type(st))

<class 'set'>

### 2.8 Dict is Key : value

In [20]:
dt={"id":54,"Name":"Ali"}
print(type(dt))

<class 'dict'>

### 2.9 Complex is REAL and imaginary

In [22]:
com = 7 + 4j
print(com.real)
print(com.imag)
print(type(com))

7.0
4.0
<class 'complex'>

### 2.10 read number or text using bool

In [24]:
print(bool(5.2)) # True
print(bool("Matrix")) # True
print(bool(0)) # False
print(bool("")) # False

print(bool(input("enter number ?")))

True
True
False
False
enter number ?
False

## 3.0 Operations :

### 3.1 Addition

In [25]:
x = 20
y = 3

print(f"{x} + {y} = {x + y}")

20 + 3 = 23

### 3.2 Subtraction

In [26]:
print(f"{x} - {y} = {x - y}")

20 - 3 = 17

### 3.3 Multiplication

In [27]:
print(f"{x} * {y} = {x * y}")

20 * 3 = 60

### 3.4 Division:

In [28]:
print(f"{x} / {y} = {x / y}")  # result is float

20 / 3 = 6.666666666666667

### 3.5 Integer Division :

In [29]:
print(f"{x} // {y} = {x // y}")  # result is int

20 // 3 = 6

### 3.6 Mod or Remendar:

In [30]:
print(f"{x} % {y} = {x % y}")
"""
Result : 20 % 3 = 2

+ Steps manual : 
1- integer division : num1 // num2
20 // 3 = 6 
2- Equation dy: num1 - (result div * num2)
20 - (6 * 3) = 4 
"""

20 % 3 = 2

'\nResult : 20 % 3 = 2\n\n+ Steps manual : \n1- integer division : num1 // num2\n20 // 3 = 6 \n2- Equation dy: num1 - (result div * num2)\n20 - (6 * 3) = 4 \n'

### 3.7 Power:

In [31]:
print(f"{x} ** {y} = {x ** y}")

20 ** 3 = 8000

### 3.8 Equal Equal:

In [ ]:
print(f"{x} == {y} = {x == y}")
x = 5
x == 5 ?

### 3.9 Greater than:

In [32]:
print(f"{x} > {y} = {x > y}")

20 > 3 = True

### 3.10 Greater than or equal: {

In [33]:
print(f"{x} >= {y} = {x >= y}")

20 >= 3 = True

### 3.11 Less than:

In [ ]:
print(f"{x} < {y} = {x < y}")

### 3.12 Less than or equal:

In [34]:
print(f"{x} <= {y} = {x <= y}")

20 <= 3 = False

### 3.13 Operation Methods

In [36]:
x = 10
y = -2

# 5 is real and 4j is imaginary.
print(complex(5,4)) 

# return tuple from two element : (div , mod)
print(divmod(x,y)) 
20 / 3
20 % 3

print(abs(y))
print(pow(x,y))
x ** y

(5+4j)
(-5, 0)
2
0.01

## 4.0 Numbers

### 4.1 Numbering System

#### 4.1.1 decimal

In [ ]:
print(7) # 7

#### 4.1.2 binary to decimal

In [38]:
print(0b1011) # 5

11

#### 4.1.3 octal to decimal

In [71]:
print(0o157) # 87
# 0 7

111

#### 4.1.4 Hexa to decimal

In [ ]:
print(0x3f) # 63

#### 4.1.5 hexa to character

<!-- more info -->
https://www.rapidtables.com/convert/number/binary-to-decimal.html

#### 4.1.6 Exponential ( E )

In [44]:
print(2E5) # 2E4 = 2*(10*10*10*10) = 2*10**5 = 20000.0
print(2*10**5)

200000.0
200000

### 4.2 Casting

#### 4.2.1 can convert from Int to Folat or Complex

In [72]:
print(70) # 70
print(float(70)) # 70.0 
print(complex(70)) # 70+0j

70
70.0
(70+0j)

#### 4.2.2 can convert from Folat to Int or Complex

In [ ]:
print(70.56) # 70.56
print(int(70)) # 70
print(complex(70)) # 70+0j

#### 4.2.3 can't convert Complex to any type

In [144]:
com = 10+9j 
# print(int(com)) # Error
# print(float(com)) # Error

## 5.0 String

In [ ]:
# single quote
str1 = 'Here we go'

In [ ]:
# duble quote
str1 = "Here we go"

In [ ]:
# triple quote => support mult lines
str1 = '''Here
we
go'''
str1 = """Here
we
go"""

In [48]:
# single double triple quote ' ' " " ''' '''
str1 = """he ll o"""
print(str1)

im "proud" of 'u' !

### 5.1 Formating

>> There are three ways to perform string formatting:

1. An improved technique uses the .format() string method.
2. The newest method, introduced with Python 3.6, uses formatted string or f-strings.

#### 5.1.2  .format()

In [75]:
# %d %f %s

num1 , num2 , str1 = 78 , 78.744454 , 'matrix'
print('{:.2f}'.format(num2))
# print('Integer ={:d}\nfloat ={:7.2f}\nString ={:5.4s}'.format(num1 , num2 , str1))

78.74

In [76]:
# Format money
# with underscore or comma bas
myMoney= 766573563487
print("myMoney is: {:_d}".format(myMoney)) 
print("myMoney is: {:,}".format(myMoney)) 

myMoney= 766573563487.4515
# print("myMoney is: {:,f}".format(myMoney))
print("myMoney is: {:_.2f}".format(myMoney)) 

# print("myMoney is: {:&d}".format(myMoney)) # Error

myMoney is: 766_573_563_487
myMoney is: 766,573,563,487
myMoney is: 766_573_563_487.45

#### 5.1.3  f-strings   f"  "

In [78]:
num1 , num2 , str1 = 78 , 78.744454 , 'matrix'
print(f'{num2}')
# print(f'Integer ={num1}\nfloat ={num2}\nString ={str1}')

78

In [79]:
num = 23.45
# %10 : minimum number of digit in output
# .4 : minimum number of digit in number

# .format
# print("10 digit and four decimal number is:{:10.4f}".format(num))

# f-string
print(f'{num:{7}.{1}f}')
print(f"10 digit and one  decimal number is:{num:.{1}f}")

   23.4
10 digit and one  decimal number is:23.4

Site : PyFormat.info >> for more details about Formatting

In [80]:
x = " hello"
print(x*5)

 hello hello hello hello hello

### 5.2 Repetition

In [82]:
# Repeat string

str1 = 'matrix'
print(str1 * 3)

matrixmatrixmatrix

### 5.6 Indexing 
+ Access single element
+ used square brackets []
+ Zero Based Indexing [0]

In [86]:
str3 = "Mesh Hello World"

print(str3[-2])
print(str3[14])
# # from start 
# print(str3[0])
# print(str3[7])

# # from end 
# print(str3[-1])
# print(str3[-7])

l
l

### 5.7 Slicing 
+ Access multiple element
+ used square brackets [:]
+ Zero Based Indexing [0]
+ [start:end:steps] => End not include
+ Note: 
+ if start > End => print nothing
+ default Step is positive => move from left
+ Step negative => move from right

In [90]:
str4 = "Mesh Hello World bardo"
# [start:end]
str4[0:4]

'Mesh'

In [89]:
# if start > End
print(str4[4:1])

In [91]:
print(str4[2:6])

sh H

In [97]:
str4 = "Mesh Hello World bardo"
print(str4[::3]) # from index 0 to end by step 3

# print(str4[:]) # all element
# print(str4[::]) # all element

Mheoodao

In [ ]:
print(str4[::3]) # from index 0 to end by step 3
print(str4[::-2]) # from index 0 to end by step 1

In [ ]:
print(str4[:2]) # index 0 and 1
print(str4[2:]) # from index 2 to end

print(str4[-3:]) # index -3 to end
print(str4[:-2]) # index 0 to -3

In [ ]:
print(str4[::3]) # from index 0 to end by step 3
print(str4[::-2]) # from index 0 to end by step 1

In [ ]:
# Step positive => from left
print(str4[:5:2])

In [ ]:
# Step negative => from right
print(str4[:-5:-2])

In [ ]:
# reverse string
str4[::-1]

### 5.8 Methods String

#### 5.8.1 input()
+ take input from user
+ type is string

In [98]:
name = input("Enter your favourite movie ?")
print(f"Your movie is {name}")

Enter your favourite movie ?fgd
Your movie is fgd

#### 5.8.2 len()
+ length of string and spaces

In [99]:
sia = input("say something ....")
print(sia)
print("Length of string is : " + str(len(sia)))

say something ....aaaaa
aaaaa
Length of string is : 5

In [ ]:
# str to convert number(length) to string to print it ganb l text .

In [100]:
# ba7sb space bardo

a = "Rio" 
b = "   Rio   " 
print(len(a)) # 3
print(len(b)) # 9

3
9

#### 5.8.3 strip()
+ Function str.strip("str") >> remove space in right and left of string
+ Function str.rstrip("str") >> remove space in right of string
+ Function str.lstrip("str") >> remove space in left of string
+ deafult str = ' ' >> space

In [105]:
# default is space

c = '#####hello frined !          '
print(c.strip('#')) # hello frined !
# print(c.rstrip()) #           hello frined !
# print(c.lstrip()) # hello frined !

hello frined !

In [ ]:
# change default

c = '##########     hello frined !   ##############'

# remove hash from right and left of string not romove space
print(c.strip('#')) #      hello frined !

# remove hash from right of string not romove space
print(c.rstrip('#')) # ##########     hello frined !

# remove hash from left of string not romove space
print(c.lstrip('#')) #      hello frined !   ##############

#### 5.8.4  title()
- every char of every word of string is captial 
- char which after number is captial bardo

In [106]:
tit = "it is 5g"
print(tit.title())

It Is 5G

#### 5.8.5 istitle()
>> return true law ?
- kol awl char in kol word kan captial 
- char elly ba3d number kan captial bardo
>> otherwise return false

In [107]:
istit1 = "It Is 5G"
print(istit1.istitle()) # true

istit2 = "It Is 5g"
print(istit2.istitle()) # false

True
False

#### 5.8.6 capitalize()
- first char of first word in string is captial 
- char elly ba3d number is small

In [108]:
d = "it is 5g"
print(d.capitalize())

It is 5g

#### 5.8.7 zfill()
>> bt5ly number 2d ba3d zay 
- 1
- 98
- 890
>> hyb2a
- 001
- 098
- 890 

>> lazm variable is string
>> lazm is feeh parameter integer is width of string

In [111]:
# zfill(width) : insert zeroes

e,f,g = "1","11","111"
print(e.zfill(3)) # 001
print(f.zfill(3)) # 011
print(g.zfill(3)) # 111

001
011
111

#### 5.8.8 upper()
>> Function str.upper()
+ Convert string to captial characters baskda

In [112]:
upp ="I Am Here"
print(upp.upper())

I AM HERE

#### 5.8.9 isupper()
+ return true if string is upper case otherwise false

In [ ]:
upp1 ="I AM HERE"
print(upp1.isupper()) # true

upp2 ="I Am Here"
print(upp2.isupper()) # false

#### 5.8.10 lower()
>> Function str.lower()
+ Convert string to small characters baskda

In [113]:
low ="I Am Here"
print(low.lower())

i am here

#### 5.8.11 islower()
+ return true if string is lower case otherwise false

In [ ]:
low1 ="i am here"
print(low1.islower()) # true

low2 ="I Am Here"
print(low2.islower()) # false

#### 5.8.12 split()
>> str.split(sep = ' ' , max split)
+ split from left
+ return data as list
+ sep is default = " " > space 
+ max split : numbers data elly h3mlha split bas w another data is one string

In [115]:
dog1 = "hello  rio  come here"
print(type(dog1))
print(dog1.split()) # spilt all string to list 
print(type(dog1.split())) # type of data is list ...

<class 'str'>
['hello', 'rio', 'come', 'here']
<class 'list'>

In [ ]:
# change default 

dog2 = "hello-rio-come-here"
print(dog2.split('-')) # spilt all string with dash

In [ ]:
print(dog2.split('-',2)) # split only two element from left

#### 5.8.13 rsplit()
+ split from right

In [118]:
dog2 = "hello-rio-come-here"
# split only two element from right
print(dog2.rsplit('-',1))

['hello-rio-come', 'here']

#### 5.8.14 Center()
>> center(width , fillchar)
- must be enter parameter width
- width >> number of chars elly htreturn
- fillchar >> char elly h7to badl spaces
- default fillchar is spaces

In [119]:
cen = 'Elsayed'
print(cen.center(15)) # sapces in start and end of string
print(cen.center(15,'#')) # hash in start and end of string

    Elsayed
####Elsayed####

#### 5.8.15 count()
>> Function str.count(substring , beg = 0 , end = len(str))
- by search 3la "substring" w by return str da mwgod kam mara

In [121]:
coun="Matrix hi Hi matrix hi hi "
print(coun.count("hi")) # 2
print(coun.count("Hi")) # 1 , because H != h
print(coun.count("hi",10)) # 2 , Search 3la "hi" form index 10 to end
print(coun.count("hi",5, 15)) # 2 , Search 3la "hi" form index 5 to index 15

3
1
2
1

#### 5.8.16 swapcase()
>> str.swapcase()
+ convert lower case to upper case and upper case to lower case ..

In [122]:
h ="I Am Here"
print(h.swapcase()) # i aM hERE

i aM hERE

#### 5.8.17 startswith()
>> str.startswith('char' , start  , end) 
- not include end
- return True >> if string is start with this char
- otherwise false

In [123]:
j = 'hello friennd'
print(j.startswith('h')) # true
print(j.startswith('f')) # false
print(j.startswith('f',6,20)) # true

True
False
True

#### 5.8.18 endswith()
>> str.endswith('char' , start  , end)
- not include end
- return True if string is end with this char
- otherwise false

In [ ]:
k = 'hello friend'
print(k.endswith('d')) # true
print(k.endswith('o')) # false
print(j.endswith('o',1,5)) # true

#### 5.8.19 index()
>> str.index(substring , start , end)
+ search 3la 'substring' mwgod in index kam 
+ return index
+ law 'substring' m4 mwgod btgeb ' Error ' <<<<<< mohma dy

In [143]:
ind = 'come here Rio'
print(ind.index('R')) # index 10
print(ind.index('R', 2 , 20)) # index 10
# print(ind.index('R', 2 , 8)) # Error >> substring not found

10
10

#### 5.8.20 find()
>> str.index(substring , start , end)
+ search 3la 'substring' mwgod in index kam 
+ return index
+ law m4 mwgod btrturn ' -1 '

In [127]:
fin = 'come here Rio'
print(fin.find('R')) # index 10
print(fin.find('R', 3 , 20)) # index 10
print(ind.find('R', 3 , 8)) # -1 >> 34an substring not found

10
10
-1

#### 5.8.21 rjust()
>> str.rjust(width , fillchar)
- string is right
- width >> number of chars elly htreturn
- fillchar >> char elly h7to badl spaces
- default fillchar is spaces

In [128]:
rjus = 'Elsayed'
print(rjus.rjust(15)) # default spaces befor string >>         Elsayed
print(rjus.rjust(15,'#')) # hash befor string >> ########Elsayed

        Elsayed
########Elsayed

#### 5.8.22 ljust()
>> str.ljust(width , fillchar)
- string is left
- width >> number of chars elly htreturn
- fillchar >> char elly h7to badl spaces`
- default fillchar is spaces

In [129]:
ljus = 'Elsayed'
print(ljus.ljust(15)) # default spaces after string >> Elsayed        
print(ljus.ljust(15,'4')) # hash after string >> Elsayed########

Elsayed
Elsayed44444444

#### 5.8.23 splitlines()
+ return kol line f list

In [130]:
lines1 = """first line
second line
third line"""
print(lines1) # kol line f line
print(lines1.splitlines()) # list of lines >> ['first line', 'second line', 'third line ']

first line
second line
third line
['first line', 'second line', 'third line']

In [ ]:
lines2 = """first line\nsecond line\nthird line"""
print(lines2) 
print(lines2.splitlines()) # list of lines >> ['first line', 'second line', 'third line ']

#### 5.8.24 expandtabs()
+ default 5 spaces ..

In [133]:
exptab = 'hey\tRio, come\there\t!'
# 5 spaces
print(exptab.expandtabs()) 
# 2 spaces
print(exptab.expandtabs(7))

hey     Rio, come       here    !
hey    Rio, come     here   !

#### 5.8.25 isspace()
+ return space when string is space otherwise false

In [134]:
spa1 = " "  
print(spa1.isspace()) # True

spa2 = ""      
print(spa2.isspace()) # False

True
False

#### 5.8.26 isidentifier()
+ return true if string is variable otherwwise false

>> Variable Rules:
+ can start with A-Z a-z or underscore _
+ can't start with number 
+ don't use special char 'symbols' or space @ # $ % &
+ don't use keywords => if True False

In [135]:
isidfi1 = 'Elsayed_Elmandoh'
print(isidfi1.isidentifier()) # true

isidfi2 = 'Elsayed-Elmandoh'
print(isidfi2.isidentifier()) # false

True
False

#### 5.8.27 isalpha()
>> str.isalpha("str")
+ return true when string is alpha otherwise false

In [136]:
x= "RIO"
print(x.isalpha()) # true 

y = "RIO45745"
print(y.isalpha()) # false

True
False

#### 5.8.28 isdigit()
>> str.isdigit("str")
+ return true when str is number otherwise false

In [ ]:
x= "363"
print(x.isdigit()) # true 

y = "RIO45745"
print(y.isdigit()) # false

##### 5.8.29 isalnum()
+ return true when string is alpha , number , alpha and number each other otherwise false

In [137]:
x= "RIO"
print(x.isalnum()) # true : alpha

y = "436373"
print(y.isalnum()) # true : number

z = 'RIO45745'
print(z.isalnum()) # true : alpha and number

True
True
True

#### 5.8.30 replace()
>> str.replace(old , new, count)
+ replace old with new
+ count > default is loop on all words in string

In [138]:
rep = "im is E R two seven - zero seven seven four "

print(rep.replace("seven","7")) # replace all seven with 7
print(rep.replace("seven","7",1)) # replace only first seven with 7
print(rep.replace("seven","7",2)) # replace only first and two seven with 7

im is E R two 7 - zero 7 7 four
im is E R two 7 - zero seven seven four
im is E R two 7 - zero 7 seven four

#### 5.8.31 join()
>> str.join(iterable()) 
+ iterable : elements I can loop on : list or tuple

In [141]:
joi = ['Elsayed' , 'Mohamed' , 'Elmandoh']
# print('\n'.join(joi)) # join every element in list
print('-'.join(joi)) # convert from list to str

Elsayed-Mohamed-Elmandoh

In [142]:
spl = "hello  rio  come here"
print(spl.split()) # spilt every element in string
print(type(spl.split())) # convert from str to list ...

['hello', 'rio', 'come', 'here']
<class 'list'>

In [ ]:
print('-'.join(joi)) # Elsayed-Mohamed-Elmandoh
print(' '.join(joi)) # Elsayed Mohamed Elmandoh
print(','.join(joi)) # Elsayed,Mohamed,Elmandoh